{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите {% if object.is_active %}удалить{% else %}восстановить{% endif %} <strong>{{ object.username }}</strong>?
        <form action="{% url 'adminapp:user_delete' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-danger" type="submit" value="{% if object.is_active %}Удалить{% else %}Восстановить{% endif %}">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:users' %}">Отмена</a>
        </button>
    </div>
{% endblock %}